[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "VulnToolkit"]
	path = VulnToolkit
	url = https://github.com/troyhill/vulntoolkit
	shallow = true
	registered = true
[submodule "coreCT"]
	path = coreCT
	url = https://github.com/troyhill/corect
	shallow = true
	registered = true
[submodule "NitrogenUptake2016"]
	path = NitrogenUptake2016
	url = https://github.com/troyhill/nitrogenuptake2016
	shallow = true
	registered = true
